<div class="page-spaceing">
  <div class="login">
    <form method="post" action="/wishes">
      <label>Wish:
      <input id="wish" type="text" name="toy" placeholder="What would you like for Christmas?" /></label>
      <p><label>Due Date:<input type="date" name="due_date" value="2017-12-25"/></p></label>
      <p><input type="Submit" value="Wish it!"/></p>
    </form>
  </div>
</div>
