Please type in your email and password:
<form action="/users/login" method="post">
<p><input type="email" name="email" placeholder="Email Address" /></p>
<p><input type="password" name="password" placeholder="Password" /></p>
<p><input type="submit" value="Log In" /></p>

</form>
