<div class="page-spaceing">
  <div class="login">
    <h1>Welcome Back!</h1>
    <form action="/users/login" method="post">
      <p><input type="email" name="email" placeholder="Email Address" /></p>
      <p><input type="password" name="password" placeholder="Password" /></p>
      <p><input type="submit" value="Log In" /></p>
    </form>
  </div> <!--page-spaceing-->
</div> <!--login-->
