<!-- User header -->

<div class="page-spaceing-wishes">
  <div class="wish-header">
    <h1><%= "#{@user.name}'s Profile:" %></h1>
  </div>
</div>

<!--End User header-->

<!--User Details-->

<div class="page-spaceing-wishes">
  <div class="wish-index">
      <div class="wish-individual">
        <p>Username: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Age: <%= "#{@user.age} years old"%></p>
      </div>
  </div>
</div>

<!-- End user details -->
