<!-- Begin Welcome -->

<div class="page-spaceing"><div class="home-center"><h2>Welcome to Santa's Sweætshop!</h2>

<p>To begin, please select from one of the options below.</p>
</div></div>

<!-- End Welcome -->

<!-- Begin options -->

<div class="page-spaceing-home">
  <div class="home-signup">
    <div class="home-signup-left">
      <a href= "/register"><button type="button">Signup</button></a>
    </div>
  </div>
  <div class="home-login">
    <div class="home-login-right">
      <a href= "/users/login"><button type="button">Log In</button></a>
    </div>
  </div>
</div>

<!--End options -->
