<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Santa's Sweatshop</title>
  </head>
  <body>
    <h1>Santa's Sweatshop</h1>
    <h2>0 North Pole, Arctic Circle, 00000-0010</h2>
    <hr>
    <%= yield %>
  </body>
</html>
