Please enter the following information:
<form action="/register" method="post">
<p><input type="text" name="name" placeholder="Name"/></p>
<p><input type="number" name="age" placeholder="Age" /></p>
<p><input type="email" name="email" placeholder="Email Address"/></p>
<p><input type="password" name="password" placeholder="Password"/></p>
    <input type="hidden" name="is_elf" value="false" />
<p><input type="submit" value="Submit"/></p>
</form>
